header {
  display: flex;
  justify-content: space-between;
  position: static;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  border-bottom: 2px solid black;
  padding-bottom: 8px;
}

h4 {
  color: mediumaquamarine;
  margin-left: 10px;
}

.logo {
  display: flex;
  width: 200px;
  justify-content: center;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.nav a {
  margin-left: 30px;
  color: black;
}
