header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  width: 100%;
  border-bottom: 2px solid black;
  padding: 8px 0;
  top: 0;
}

h4 {
  color: mediumaquamarine;
  margin-left: 10px;
}

.logo {
  display: flex;
  width: 200px;
  justify-content: center;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.nav a {
  margin-left: 30px;
  color: black;
}

.main {
  width: 1200px;
  display: flex;
  position: relative;
  top: 100px;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.article {
  font-family: georgia;
  font-size: 17px;
}

.phish {
  display: flex;
  background-image: url("../images/img-story-main.png");
  width: 629px;
  height: 300px;
}

.earth {
  display: inline-flex;
  background-image: url("../images/img-story-2.png");
  width: 299px;
  height: 300px;
}

.camera {
  display: inline-flex;
  background-image: url("../images/img-story-3.png");
  width: 299px;
  height: 300px;
}

.cats {
  display: flex;
  background-image: url("../images/img-story-1.png");
  width: 299px;
  height: 300px;
}

.camera, .earth, .cats {
  margin-top: 20px;
}

.image{
  margin:auto;
  text-align:  center;
  font-family: georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

 #phish {
  font-size: 40px;
}

.inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.orca, .burger {
  width: 295px;
}

.bites {
  display: flex;
  flex-direction: column;
}

.bites-text {
  position: relative;
  bottom: 24px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.ulbites {
  font-size: 12px;
  font-family: verdana;
  color: dimgray;
  background-color: whitesmoke;
}

.li {
  padding: 10px 25px;
  border-bottom: 2px solid black;
}

.footer {
  background-color: MediumAquaMarine;
  display: flex;
  flex-direction: column;
  position: relative;
  top:100px;
  height: 300px;
  width: 1200px;
  margin-top: 80px;
}

div.footer-content {
  margin: auto;
  flex-direction: column;
  text-align: center;
  font-family: Verdana;
  font-size: 12px;
}

.title {
  display: inline-flex;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 3px solid white;
  padding-right: 20px;
}

.foot-nav {
  display: inline-flex;
}

div.copy  {
  text-align: center;
  padding-top: 20px;
  width: 500px;

}
